{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <!-- <meta name="description" content="description here"> -->
    <link rel="root" href="{{ relative }}"/> <!-- for JS -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.homeurl }}">

    <!-- Base jQuery-UI styles -->
    <link rel="stylesheet" href="{{ relative }}css/jquery-ui-redmond.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ relative }}css/main.css">
    <!-- CSS for embedded visualizations -->
    <link rel="stylesheet" href="{{ relative }}css/style-vis.css">

    <!-- head.js, required for embedding -->
    <script type="text/javascript" src="{{ relative }}lib/ext/head.load.min.js"></script>

</head>
